 <div class="about-section m-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="section-title">À propos de nous</h2>
          <p class="section-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure illum mollitia inventore ea nulla, deleniti voluptatum, aliquam quasi autem incidunt ad eligendi exercitationem libero minima. Recusandae quos culpa consequatur iure.</p>
        </div>
      </div>
    </div>
  </div>
