<div class="container my-5">
  <div class="card-trip">
    <figure class="image"></figure>
    <div class="card-trip-infos">
      <div>
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat eveniet expedita, soluta quas hic odio fugit minima deserunt harum voluptas excepturi quos nulla laudantium aut tempora nihil consequatur corrupti cumque.</p>
      </div>
      <h2 class="card-trip-pricing">99999.9 MAD</h2>
    </div>
  </div>
</div>
