<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.sanity.io/images/n2i0cmq4/production/18462388d435051fc2b1b10709784023845d6692-800x500.webp?fm=webp&fit=clip&auto=format)"></div>
